<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head.ejs")%>
</head>
<body>
    <h1>Lab 7: Famous Quotes - Admin Section</h1>

    <%-include("partials/nav.ejs")%>
    <br>

    <form action="/addAuthor" method="GET">
        <button>Add authors</button>
    </form>

    <br>
    <form action="/allAuthors" method="GET">
        <button>Display all authors</button>
    </form>

    <br>
    <form action="/addQuote" method="GET">
        <button>Add quotes</button>
    </form>

    <br>
    <form action="/allQuotes" method="GET">
        <button>Display all quotes</button>
    </form>
    <br>

    <%-include("partials/footer.ejs")%>
</body>
</html>