<!DOCTYPE html>
<html lang="en">

<nav class="dropdown navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <!-- dropdown for planets -->

                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Mercury">Mercury</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Venus">Venus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Earth">Earth</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Mars">Mars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Jupiter">Jupiter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Saturn">Saturn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Uranus">Uranus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Neptune">Neptune</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planetInfo?planet=Pluto">Pluto</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/comets">Comets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/asteroids">Asteroids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nasa-apod">NASA APOD</a>
                </li>
            </ul>
        </div>
    </div>
</nav>