<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head.ejs")%>
</head>
<body>
    <h1 class="top">About this website</h1>
    <%-include("partials/nav.ejs")%>
    <p>This website allows users to find recipes using a search by category</p>
    <%-include("partials/footer.ejs")%>
</body>
</html>