<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head.ejs")%>
</head>
<body>
    <h1 class="top">Recipe Category Search</h1>
    <%-include("partials/nav.ejs")%>
    <!-- results of the search here -->
    <%-include("partials/footer.ejs")%>
</body>
</html>