<!DOCTYPE html>
<html lang="en">
<nav class="dropdown navbar navbar-expand-lg bg-body-tertiary">
    <ul>
        <li><a href="/"><button class="text-dark">Home</button></a></li>
        <li><a href="/about"><button class="text-dark">About this website</button></a></li>
    </ul>
</nav>
</html>