<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=d, initial-scale=1.0">
    <title>Lab 7: Famous Quotes - Admin Section</title>
    <link href="/css/lab7style.css" rel="stylesheet">
</head>
</html>